services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/order-service?replicaSet=rs0
      - JWT_SECRET=supersecretkey
      - NODE_ENV=development
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:6-jammy
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./docker/mongo/init-replica-set.sh:/docker-entrypoint-initdb.d/init-replica-set.sh:ro
    networks:
      - app-network
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
